<% layout("layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/admin.css" />

<div class="admin-container">
  <h1>
    Get started today by creating your admin account and taking your
    business online.
  </h1>
  <p>
    Taking your business online transforms the way you connect with
    travelers, enabling you to reach a wider audience, increase brand
    visibility, and drive direct bookings.
  </p>
  <div class="admin-btn">
    <a href="/admin/login" class="btn hotelhub-btn-black">Login as admin</a>
    <a href="/admin/signup" class="btn hotelhub-btn-red">Signup as admin</a>
  </div>
</div>