<footer>
  <div class="f-content">
    <div class="f-content-socials">
      <a href="https://www.facebook.com/"><i class="fa-brands f-icon fa-square-facebook"></i></a>
      <a href="https://www.instagram.com/"><i class="fa-brands f-icon fa-square-instagram"></i></a>
      <a href="https://www.linkedin.com/"><i class="fa-brands f-icon fa-linkedin"></i></a>
      <a href="https://twitter.com/?lang=en"><i class="fa-brands f-icon fa-square-x-twitter"></i></a>
    </div>
    <div class="copyright-text mt-3"><b>&copy;</b> HotelHub.Inc, 2024 </div>
    <div class="f-content-links mt-3">
      <a href="https://en.wikipedia.org/wiki/Terms_of_service" target="_blank" style="margin-right: 15px;">Terams & conditions</a>
      <a href="https://en.wikipedia.org/wiki/Privacy_policy" target="_blank">Privacy Policy</a>
    </div>
  </div>
</footer>
