<% layout("layouts/boilerplate.ejs") %>

<style>
  .authetication-form-container {
    padding: 50px;
    border: 1px solid black;
    width: 25rem;
    box-shadow: 0px 5px 10px black;
  }

  .authentication-btn {
    width: 100%;
  }

  .or-link {
    text-align: center;
    margin-top: 20px;
  }

  .or-link a {
    color: rgb(0, 0, 0);
    opacity: 0.8;
  }

  .or-link a:hover {
    opacity: 1;
  }
</style>

<div class="mx-auto mt-5 authetication-form-container">
  <h3 class="mb-5">Login as user</h3>
  <form method="POST" action="/login" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="input1" class="form-label">Email</label>
      <input type="email" class="form-control" id="input1" name="email" required />
      <div class="invalid-feedback">Invalid email</div>
    </div>
    <div class="mb-3">
      <label for="input2" class="form-label">Password</label>
      <input type="password" class="form-control" id="input2" name="password" required />
      <div class="invalid-feedback">Invalid email</div>
    </div>
    <input type="submit" value="Login" class="btn hotelhub-btn-red mt-3 authentication-btn" />
    <p class="or-link">
      Or <br />
      <b><a href="/signup">Signup as user</a></b>
    </p>
  </form>
</div>

<script src="/js/validation.js"></script>