<% layout("layouts/boilerplate.ejs") %>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<div class="content">
  <div style="height: 550px; width: 700px">
    <img
      style="object-fit: cover"
      src="/assets/no-result.png"
      height="100%"
      width="100%"
      alt="no-result"
    />
  </div>
  <a class="btn hotelhub-btn-red me-5" href="/explore">Explore more</a>
</div>
