<% layout("layouts/boilerplate.ejs") %>

<style>
  .went-wrong-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-top: 60px;
  }

  img {
    height: 500px;
  }
</style>

<div class="went-wrong-container">
  <img src="/assets/went-wrong.jpg" alt="went-wrong">
  <br>
  <a class="btn hotelhub-btn-red" href="/">Go to home</a>
</div>